<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head.ejs') %>
    </head>

    <body>
        <header>
            <%- include('../../layout/header') %>
        </header>
        <main>
            <form action="/searches" method ="post">
                <fieldset>

                    <h1>Search</h1>
                    <label>
                        <input class="text-search" type="text" name="searchTerm"></input>    
                    </label>
                    <button type="submit">Go!</button>

                    <label for="title">Search by Title 
                        <input type="radio" name="searchRadio" value="title" required></input>
                    </label>

                    <label for="author">Search by Author
                        <input type="radio" name="searchRadio" value="author" required></input>
                    </label>

                </fieldset>
            </form>
        </main>
        <footer>
            <%- include('../../layout/footer.ejs') %>
        </footer>
    </body>

</html>
