<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <header><%- include('../../partials/header') %></header>
    <main>
      <ul class="book-list">
          <% searchResults.forEach(book => { %>
            <li class="books"><%= book.title %></li>
          <% }) %>
      </ul>
    </main>
  </body>
  <footer><%- include('../../partials/footer') %></footer>
</html>
