<!DOCTYPE html>
<html>
  <head>
    <!-- head partial -->
  </head>

  <body>
    <main>
      <!-- TODO: add results loop here -->
      <ul>
        <% searchResults.forEach(book => { %>
          <ul>
              <li> <%= book.title %> </li>
          </ul>
        <% }) %>
      </ul>
    </main>
  </body>

  <!-- footer partial -->
</html>
