<!DOCTYPE html>
<html>
    <head>
        <!-- head partial -->
        <link rel="stylesheet" type="text/css" href="styles/reset.css">
        <link rel="stylesheet" type="text/css" href="styles/base.css">
    </head>

    <body>
        
            <% searchResults.forEach( (bookObj)=> { %>
                <section>
                    <img src=<%= bookObj.image_url %> />
                    <h2><%= bookObj.title %></h2>
                    <p><%= bookObj.author %></p>
                    <p><%= bookObj.description %></p>
                </section>
            <% }); %>


    </body>

    <footer>
         <!-- footer partial -->

    </footer>
</html>