<!DOCTYPE html>
<html>
 <head>
    <%- include('../../partials/head') %> 
 </head>
<body>
    <header>
      <%- include('../../partials/header') %>
    </header>
    <main>
      <ul>
        <% searchResults.forEach(book => { %>
          <ul>
              <li> <%= book.title %> </li>
          </ul>
        <% }) %>
      </ul>
    </main>
  </body>
 <footer>
     <%- include('../../partials/footer') %>
 </footer>
</html>
