<!DOCTYPE html>
<html>

    <head>
        <%- include('../layout/head') %>  <!--confirm link-->
    </head>

    <body>

        <header>
            <%- include('../layout/head') %>    <!--confirm link-->
        </header>

        <main>
            <p><%= error %></p>
            <p>error test</p>
        </main>

        <footer>
            <%- include('../layout/footer') %>  <!--confirm link-->
        </footer>

    </body>

</html>