<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head.ejs') %>
    </head>

    <body>
        <header>
           <%- include(./layout/header) %>
        </header>
        <main></main>
            <!-- nav button -->
            <form action="/" method="get">
                <button type="submit">Home</button>
            </form>

            <!-- nav button -->
            <form action="/new_search" method="get">
                <button type="submit">Search</button>
            </form>

        </main>
        <footer>
            <%- include('../layout/footer.ejs') %>
        </footer>
    </body>

</html>