* {
    /* outline: 1px solid black !important; */
    margin: 0;
    padding: 0;
}
html {
    /* width: 300px; */
}

body {
    background-color: rgb(199, 180, 180);
}

fieldset {
    border: none;
}

input {

}

form {
    /* background-color: green; */
    /* display: flex; */
    /* justify-content: left; */
}

form label {
    /* display: block; */
}