* {
    /* outline: 1px solid black !important; */
}
html {
    width: 350px;
}

/* header and footer  */
header, footer {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 100%;
}

    header {
        background-color: rgb(184, 186, 187);
    }

    footer {
        background-color: rgb(161, 162, 163);
    }

    footer * {
        margin: 10px;
    }

/* font-awesome icons  */
.fas {
    font-size: 1.5em;
    margin: 8px;
}

body {
    background-color: rgb(199, 180, 180);
    /* width: 350px; */
    width: 100%;
}

fieldset {
    border: none;
}

input {

}

form {
    padding: 10px;
    /* background-color: green; */
    display: flex;
    justify-content: left;
}

main section {
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(204, 182, 154);
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5em;
}

section p {
    margin: 5px;
}


