.book-list {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  grid-auto-rows: auto;
}

.books {
  background-color: gold;
  border-radius: 3px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  color: whitesmoke;
}