<div>
    Fancy Book App
</div>

<!-- nav button -->
<form action="/goHome" method="get">
    <button type="submit">Home</button>
</form>

<!-- nav button -->
<form action="/goSearch" method="get">
    <button type="submit">Search New Books</button>
</form>