<section class="permanent">
    <!-- hamburger icon -->
    <span class="hamburger fas fa-bars"></span>

    <span>Fancy Book App</span>
</section>



<ul class="nav">
    <li>
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>
    </li>
    <li>
        <form action="/new_search" method="get">
            <button type="submit">Search New Books</button>
        </form>
    </li>
</ul>

