<section class="stationary"></section>
    <span class="fas fa-bars"></span>

    <span>Fancy Book App</span>
</section>

<section class="dropdown">
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>

    <form action="/new_search" method="get">
        <button type="submit">Search New Books</button>
    </form>
</section>
